#root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

.searchCity {
  height: 42px;
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #000;
  margin: 0 auto;
  display: block;
  outline: none;
  transition: .5s all;
}

.searchCity:focus {
  border: 1px solid rgba(147, 102, 255, 1);
}

.CityList {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  line-height: 25px;
}

.cityItem {
  max-width: 220px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000;
  padding: 10px 6px 6px 6px;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.viewsWeater_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.viewsWeater {
  position: relative;
  padding: 15px;
  max-width: 220px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
  line-height: 25px;
  margin-bottom: 25px;
}

.viewsWeater span {
  color: green;
}

.viewsWeater i {
  position: absolute;
  right: 15px;
  top: 15px;
}